<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><img src="https://img.icons8.com/ios-glyphs/30/000000/bug--v1.png"/> Arda Tanıl
        Kersü</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/about">about<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="../../static/ardacv.pdf" download>resume <span
                        class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="mailto:ardakersu@gmail.com">contact <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Projects
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/projects/1">Patient Monitoring System</a>
                    <a class="dropdown-item" href="/projects/2">PWM Data Encoder</a>
                    <a class="dropdown-item" href="/projects/3">Automated Screens</a>

                    <a class="dropdown-item" href="/projects/4">Circuit Simulator</a>

                    <a class="dropdown-item" href="/projects/5">Proje-5</a>

                    <a class="dropdown-item" href="/projects/6">Proje-6</a>


                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/ArdaTheEmbeddedCoder">github <i
                        class="fa fa-github"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://tr.linkedin.com/in/arda-tan%C4%B1l-kers%C3%BC-584237191">linkedin <i
                        class="fa fa-linkedin-square"></i></a>
            </li>


        </ul>

    </div>
</nav>