{% extends 'layout.html' %}


{% block title %}

About

{% endblock %}

{% block can_rollas %}

<div class="container">
    <div class="row">

        <div class="col-sm-12" style="text-align: center;">
            <br><br> <br><br>
            <img class="text-center" style="border: 5px solid #555;"
                 src="../static/profil.jpg">
        </div>
        <br><br><br>
        <div class="col-sm-12">
            <br><br>
            <h3 style="text-align: center;">ABOUT</h3>
            <p>I’m an electronics and communication engineering student who enjoys both analog and digital system
                design as well as automation and I’m eager to enrich my knowledge on these fields. My strong suits are
                finding creative solutions, being a team worker and persistence.

                <br><br><br>
                ARDA TANIL KERSÜ

            </p>
        </div>

    </div>
</div>

{% endblock %}