{% extends "layout.html" %}

{% block can_rollas%}

<div class="container">
    <div class="row">

        <div class="col-sm-12" style="align-content: center;text-align: center">
            <br>
            <p><h4>Home</h4>
            Contents of the website are still being added.
            <br>
            In the mean time, feel free to browse through the projects or contact me via
            <br>
            <a href="mailto:ardakersu@gmail.com">●
                here.</a><br><br>
            </p>
        </div>

    </div>
</div>

{% endblock %}

{% block title %}

Home

{% endblock %}