{% extends "layout.html" %}

{% block can_rollas%}

<div class="container">
    <div class="row">

        <div class="col-sm-12">
            <br>
            <h1 style="text-align: center;">Circuit Simulator
                </h1><br>
            <p><h4>Circuit Simulator</h4>
                This project is a circuit simulator implemented for passive circuit components such as capacitors,
            inductors, and resistors. The project is being developed in pure C, using Code::Blocks version 20.03 and
            following C99 standards.

                The project is currently in progress and the first phase (DC analysis) is expected to be finished
            in about 4 weeks of time from now (18.03.2022). However, the website may not be kept up to date.

                As more progress is made, information and visuals related to this project will be shared.


            <br><br>
            <br><br>
            <a href="mailto:ardakersu@gmail.com">●
                if you want to learn more about this paper or project, contact me via this link</a><br><br>

            </p>
        </div>

    </div>
</div>

{% endblock %}

{% block title %}

Home

{% endblock %}