{% extends "layout.html" %}

{% block can_rollas%}

<div class="container">
    <div class="row">

        <div class="col-sm-12">
            <br>
            <h1 style="text-align: center;">Patient Monitoring System
                </h1><br>
            <p><h4>Patient Monitoring System</h4>
            <br>
            Project Members: Arda Tanıl KERSÜ
            <br>
            Osman Nevfel ÜNLÜ
            <br><br>
            Advisor: Abdurrahman GÜMÜŞ
            <br><br><br>
                The PMS consists of both hardware and software design for healthcare applications. Its purpose
            is to allow patient monitoring to be done remotely. Remote monitoring of patients avoids the spread
            of contagious diseases among healthcare workers, especially in the height of Covid-19 pandemic.

            <br><br>
            <div class="row">
                <div class="col-12" style="align-items: center;text-align: center">
                    <img src="../static/oximeter.png"  style="background: black">

                </div>
            </div>
            <br><br>

                The system measures heart rate, blood oxygenation percentage, and body temperature of patients .
            All sensors were designed from scratch, specifically for this project, to
            both decrease the dependency of 3rd party hardware, and to decrease the overall project cost.

                Measured data are then fed into an ESP32 based board (Firebeetle ESP32-WROOM) to be processed and
            uploaded to an online server dedicated to holding patient data. Lastly, an API grabs the patient
            data and displays it on a mobile application also developed specifically for the project too. This way, healthcare
            workers can keep track of all their patients' data remotely, from their mobile phones.

            <div class="row">
                <div class="col-12" style="align-items: center;text-align: center">
                    <img src="../static/PCBs.png"  style="background: black;width: 100%;height: auto;">

                </div>
            </div>
            <a href="mailto:ardakersu@gmail.com">●
                if you want to learn more about this paper or project, contact me via this link</a><br><br>

            </p>
        </div>

    </div>
</div>

{% endblock %}

{% block title %}

Home

{% endblock %}