{% extends "layout.html" %}

{% block can_rollas%}

<div class="container">
    <div class="row">

        <div class="col-sm-12">
            <br>
            <h1 style="text-align: center;">Automated Screens
                </h1><br>
            <p><h4>Automated Screens</h4>
                To display upcoming events, announcements, and any information in general on large sized screens,
            the idea of this project was given birth to. The idea is to connect a Raspberry-Pi to each screen
            outside of the buildings in Izmir Teknopark and write scripts to run on RPi so that it would display
            the desired screen, refresh the displayed screen every half an hour, and some other features such as
            restarting the entire system automatically whether a power outage is to occur.

            //proje resmi

                To construct the system multiple bash scripts were written where each script was responsible for
            executing individual tasks such as checking internet connection of the device, displaying the web-page,
            or making visual adjustments to fit the eye (such as removing browsers scrollbar etc.). To put the entire
            system together and make it run, main.sh would be executed. The main file would simply call other scripts,
            and would never exit unless the device was unplugged so that the system would never shut down unless intended.

                The project, after being finished developing, was discontinued and was not used. Furthermore, sadly,
            most of the project files have been lost to time. However, some backups of the project (more than halfway
            through) still exist, thus, I can provide assistance if files to this project would come in handy in any
            situation so feel free to contact me if you are working on a similar project.
            <br><br>
            <br><br>
            <a href="mailto:ardakersu@gmail.com">●
                if you want to learn more about this paper or project, contact me via this link</a><br><br>

            </p>
        </div>

    </div>
</div>

{% endblock %}

{% block title %}

Home

{% endblock %}