{% extends "layout.html" %}

{% block can_rollas%}

<div class="container">
    <div class="row">

        <div class="col-sm-12">
            <br>
            <h1 style="text-align: center;">Patient Monitoring System
                </h1><br>
            <p><h4>Patient Monitoring System</h4>
                The PMS consists of both hardware and software design for healthcare applications. Its purpose
            is to allow patient monitoring to be done remotely. Remote monitoring of patients avoids the spread
            of contagious diseases among healthcare workers, especially in the height of Covid-19 pandemic.

            //cihaz resmi

                The system measures heart rate, blood oxygenation percentage, and body temperature of patients
            and all sensors that do the measuring were designed from scratch, specifically for this project, to
            both decrease the dependency of 3rd party hardware, and to decrease the overall project cost.

                Measured data are then fed into an ESP32-based board (Firebeetle ESP32-WROOM) to be processed and
            uploaded to an online server dedicated to holding patient data. Lastly, an API grabs the patient
            data and displays in on a mobile application developed specifically for the project. This way, healthcare
            workers can keep track of all their patients' data remotely, from their mobile phones.

            //devre kartı resimleri

            <br><br>
            <br><br>
            <a href="mailto:ardakersu@gmail.com">●
                if you want to learn more about this paper or project, contact me via this link</a><br><br>

            </p>
        </div>

    </div>
</div>

{% endblock %}

{% block title %}

Home

{% endblock %}